<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/static/madlibs.css">
  <title>A Compliment</title>
</head>
<body>
    <p>Hi {{ person }}! I think you're {{ compliment }}!</p>

    <p>Would you like to play a game?</p>

    <form action="/game">
      <p><input type="radio" name="game" value="yes">Yes</p>
      <p><input type="radio" name="game" value="no">No</p>
      <p><input type="submit"></p>
    </form>
</body>
</html>